.fullscreen-loader {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #eff2f7;

	&__text {
		position: relative;
		font-size: 2rem;
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}

@media (max-width: 576px) {
	.fullscreen-loader__text {
		font-size: 1.4rem;
	}
}
